html {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.site-main{
   width: 100%;
   min-height: 100vh;
   padding: 2rem;
   box-sizing: border-box;
   background-color: #B19476;
   display: flex;
   align-items: center;
   justify-content: center;
}


header.h1 {
    background-color: red;
    color: white;
}