html {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/* Layout styles ------------------------------------------------------------------- */
body {
    background-color: #B19476;
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

.outer-container {
  margin:24px;
  border: 1px solid #000000;
  overflow: hidden;
}

.inner-container {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

section {
    background: #F2E2DC;
}

.alt-section {
    background: #383E56;
    color: #F2E2DC
}

/* Header and footer styles -------------------------------------------------------- */

h1 a, h2 a, .site-header a {
    text-decoration: none;
    color: inherit;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.site-name {
    font-size: 24px;
}

header a:hover,
header a:focus {
    text-decoration: underline;
}

header, footer {
    background: #383E56;
    color: #F2E2DC;
 }

 header.container, 
 footer.container,
 header.alt-section .container,
 footer.alt-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

header ul,
footer ul,
header.alt-section ul,
footer.alt-section ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    font-weight: 300;
    font-size: 12px;
    list-style: none;
   
}

header li a,
footer li a,
header.alt-section li a,
footer.alt-section li a {
    line-height: 1.5;
    padding: 4px;
    border: none;
}



@media (max-width: 600px) {
    .site-main {
        padding: 1rem;}
    .inner-box {
       padding: 1rem; border-radius: 6px;}
    }
