html {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  
    display: grid;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5e5454;
    color: #333;
}